In [9]:
import pandas as pd
import json 
# Load the CSV file into a DataFrame
df = pd.read_csv('./CSV/climate-change.csv')
numpy_array = df.to_numpy()


# Display the filtered DataFrame
df

,Country,Date,Seasonal variation,Combined measurements,Monthly averaged,Annual averaged,sea_temperature_anomaly,Sea surface temp (lower-bound),Sea surface temp (upper-bound),Monthly pH measurement,...,arctic_sea_ice_osisaf,Monthly averaged.1,Annual averaged.1,Monthly averaged.2,Annual averaged.2,Snow cover,Annual average.1,sea_ice_extent,ocean_heat_content_2000m,ocean_heat_content_700m
0,Antarctica,1992-01-01,NaN,418.31036,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Antarctica,1992-01-31,NaN,425.37700,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Antarctica,1992-03-01,NaN,433.55200,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Antarctica,1992-04-01,NaN,424.49683,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Antarctica,1992-05-01,NaN,423.36273,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8241,World,2023-08-15,NaN,NaN,336.70,336.40668,1.09693,1.0730,1.1190,NaN,...,NaN,1919.15,1919.6616,416.59,418.46000,NaN,NaN,NaN,24.739214,17.816338
8242,World,2023-09-15,NaN,NaN,336.78,336.49084,1.09773,1.0755,1.1195,NaN,...,NaN,1927.35,1920.6542,416.99,418.65668,NaN,NaN,NaN,29.627506,21.518362
8243,World,2023-10-15,NaN,NaN,NaN,NaN,0.98645,0.9615,1.0090,NaN,...,NaN,NaN,NaN,418.64,418.86500,NaN,NaN,NaN,31.497250,22.620983
8244,World,2023-11-15,NaN,NaN,NaN,NaN,0.98956,0.9645,1.0125,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.332283,21.843860
8245,World,2023-12-15,NaN,NaN,NaN,NaN,0.93788,0.9140,0.9605,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.222206,20.970129

In [10]:
# Assuming your date column is named 'date_column'
df['Year'] = pd.to_datetime(df['Date']).dt.year

# Display the updated DataFrame with the 'year' column
df

,Country,Date,Seasonal variation,Combined measurements,Monthly averaged,Annual averaged,sea_temperature_anomaly,Sea surface temp (lower-bound),Sea surface temp (upper-bound),Monthly pH measurement,...,Monthly averaged.1,Annual averaged.1,Monthly averaged.2,Annual averaged.2,Snow cover,Annual average.1,sea_ice_extent,ocean_heat_content_2000m,ocean_heat_content_700m,Year
0,Antarctica,1992-01-01,NaN,418.31036,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992
1,Antarctica,1992-01-31,NaN,425.37700,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992
2,Antarctica,1992-03-01,NaN,433.55200,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992
3,Antarctica,1992-04-01,NaN,424.49683,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992
4,Antarctica,1992-05-01,NaN,423.36273,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8241,World,2023-08-15,NaN,NaN,336.70,336.40668,1.09693,1.0730,1.1190,NaN,...,1919.15,1919.6616,416.59,418.46000,NaN,NaN,NaN,24.739214,17.816338,2023
8242,World,2023-09-15,NaN,NaN,336.78,336.49084,1.09773,1.0755,1.1195,NaN,...,1927.35,1920.6542,416.99,418.65668,NaN,NaN,NaN,29.627506,21.518362,2023
8243,World,2023-10-15,NaN,NaN,NaN,NaN,0.98645,0.9615,1.0090,NaN,...,NaN,NaN,418.64,418.86500,NaN,NaN,NaN,31.497250,22.620983,2023
8244,World,2023-11-15,NaN,NaN,NaN,NaN,0.98956,0.9645,1.0125,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.332283,21.843860,2023
8245,World,2023-12-15,NaN,NaN,NaN,NaN,0.93788,0.9140,0.9605,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.222206,20.970129,2023

In [11]:
# df.to_csv("./CSV/climate-change.csv", index=False)